// start .sPopularPosition
.sPopularPosition {
	// padding-top: calc(var(--sPT) * 1.25);
	@include media-breakpoint-up(lg) {
		padding-top: calc(var(--sPT) * 1.25);
	}
	padding-bottom: calc(var(--sPB) / 3);
	.container {
		position: relative;
	}

	.section-title {
		padding-bottom: calc(var(--sTPB) * 1.5);
	}

	h2 {
		@extend .mono;
		letter-spacing: rem(-0.5);
	}

	&__allCategory {
		color: $secondary !important;
		@include media-breakpoint-down(lg) {
			text-align: center;
			display: block;
			text-decoration: underline;
		}
		&:hover {
			@include media-breakpoint-up(lg) {
				opacity: 0.6;
			}
		}
		@include media-breakpoint-up(lg) {
			position: absolute;
			right: rem(15);
			top: rem(14);
		}
		span {

		position: relative;
			&::before {
				@include media-breakpoint-up(lg) {
					content: '';
					right: 100%;
					@include a-cent(y);
					margin-right: rem(26);
					width: rem(49);
					display: block;
					border-bottom: solid 1px $secondary;
					height: 1px;
					opacity: 0.52;
				}
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}

} // end.sPopularPosition


.popularCategoryItem {
	color: $body-color !important;
	padding: rem(15) rem(7) rem(20);
	@include media-breakpoint-up(lg) {
		padding: rem(12) rem(12) rem(36);
	}
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: calc(100% - 31px);
	margin-bottom: 31px;
	position: relative;

	&::before {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		box-shadow: 0 3px 16px rgba(22, 32, 21, 0.13);
		@include media-breakpoint-up(lg) {
			transform: scale(0);
		}
		@include mt;
	}

	&:hover {
		&::before {
			transform: scale(1);
		}
	}

	picture {
		min-height: rem(90);
		margin-bottom: rem(10);
		@include media-breakpoint-up(lg) {
			min-height: rem(220);
			margin-bottom: rem(18);
		}
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			@include media-breakpoint-down(md) {
				max-width: rem(90);
			}
		}
	}

	&__title {
		margin-top: auto;
		font-weight: 600;
		@include media-breakpoint-up(md) {
			margin-bottom: rem(7);
		}
		text-align: center;
		@include media-breakpoint-down(sm) {
			font-size: 13px;
		}
	}

	&__price {
		font-weight: 300;
		@include media-breakpoint-down(sm) {
			font-size: 13px;
		}
	}
}