mixin sNews()
	// start sNews
	+b.sNews.section#sNews&attributes(attributes)
		.container
			+e.img-wrap
				img(src="img/@2x/03-sn-1.jpg", alt="")
				+e.DIV.label Новости
				+e.DIV.caption
					+e.DIV.title Акция!
					+e.DIV.text Приятная скидка&nbsp;10%<br> на&nbsp;MacBook PRO

			p Дорогие друзья!
			p Специалисты нашего контакт-центра готовы круглосуточно помогать вам найти решение любого вопроса. Контакт-центр работает семь дней в&nbsp;неделю, без перерывов и&nbsp;выходных. Если у&nbsp;вас возникают вопросы относительно статуса заказов, вы&nbsp;можете в&nbsp;любое время обратиться к&nbsp;нашим специалистам по&nbsp;телефону 8&nbsp;495 502-19-44.
			p Кроме того, недавно для вашего удобства мы&nbsp;запустили новую услугу. Теперь вы&nbsp;можете получить онлайн-консультацию по&nbsp;технике компании Apple от&nbsp;квалифицированных экспертов по&nbsp;FaceTime через форму на&nbsp;сайте (на&nbsp;странице любого продукта Apple) и&nbsp;с&nbsp;помощью Telegram через чат бот @reStore_chatbot.
			p Специалисты нашего контакт-центра готовы круглосуточно помогать вам найти решение любого вопроса. Контакт-центр работает семь дней в&nbsp;неделю, без перерывов и&nbsp;выходных. Если у&nbsp;вас возникают вопросы относительно статуса заказов, вы&nbsp;можете в&nbsp;любое время обратиться к&nbsp;нашим специалистам по&nbsp;телефону 8&nbsp;495 502-19-44.
			p Кроме того, недавно для вашего удобства мы&nbsp;запустили новую услугу. Теперь вы&nbsp;можете получить онлайн-консультацию по&nbsp;технике компании Apple от&nbsp;квалифицированных экспертов по&nbsp;FaceTime через форму на&nbsp;сайте (на&nbsp;странице любого продукта Apple) и&nbsp;с&nbsp;помощью Telegram через чат бот @reStore_chatbot.
			p Воспользоваться услугой можно каждый день с&nbsp;10:00 до&nbsp;21:00 абсолютно бесплатно.
			p Мы&nbsp;готовы ответить на&nbsp;любые ваши вопросы. Оставайтесь дома. <br> С&nbsp;заботой о&nbsp;вас, команда re:Store.

	// end sNews