html {
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

.pixel-perfect {
	top: 0;
	@include a-cent(x);
	display: block;
	pointer-events: none;
	z-index: 1000;
	overflow: hidden;
	width: 100%;
	height: 100%;
	// background-position: center 10px;
	background-position: center 0px;
	opacity: 0;
	// opacity: 0.7;
}

body,
html {
	font-size: var(--fontSizeBase);
	// @include font-size(1rem);
}


.section {
	@include bgs; 
	padding-top: var(--sPT);
	padding-bottom: var(--sPB);
}

.section-title { 
	padding-bottom: var(--sTPB);

	&--contact {
		padding-bottom: 0;
		@include media-breakpoint-up(md) {
			display: flex;
			align-items: center;
		}
		h1 {
			@extend .mono;
			position: relative;
			@include media-breakpoint-up(md){
				margin-right: rem(105);
				&::before {
					content: '';
					width: 49px;
					height: 1px;
					background-color: $secondary;
					opacity: 0.52;
					position: absolute;
					right: rem(-80);
					top: 55%;
				}
			}
		}
	}

	&__contact {
		font-weight: 300;
		color: $secondary;
	}
}


.catalogPage {
	.pageHead__wrap {
		margin-bottom: 3px;
	}
}

body {
	min-width: 320px;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include mt;
		background-color: #000000;
		opacity: 0;
		z-index: -1;
		top: 0;
	}

	&.fixed {
		overflow: hidden;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 999;

		&::before {
			z-index: 999;
			opacity: 0.76;
		}
	}
}

.mono {
	font-family: $font-family-monospace;
}

.small {
	font-size: $small;
}

.tdn {
	text-decoration: none !important;
}

.ttu {
	text-transform: uppercase;
}

.tdu {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.ttu {
	text-transform: uppercase;
}

.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}

.fw-900 {
	font-weight: 900;
}

.row--small {
	@include roww(10)
}


.main-wrapper {
	position: relative;
	overflow: hidden;
	min-height: 100vh;
	min-height: calc(var(--vh, 1vh) * 100);
}

.slick-slide img {
	display: inline
}

.image-source-link {
	color: #98C3D1;
}

.slick-slide {
	outline: 0 !important;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	cursor: pointer;

	i {
		line-height: 1;

	}

	cursor: pointer;

	&.l {
		left: 0;

		svg {
			@include transform(rotateY(180deg));
		}
	}

	&.r {
		right: 0;

	}

	svg {
		width: 17px;
		height: auto;
	}
}


.strong {
	font-weight: bold;
}

ul {
	padding-left: 0;
}

.res-i {
	max-width: 100%;
	// width: auto;
	height: auto;
}

.img-bg {
	@include img-bg();
}

.bgs {
	@include bgs();
}

.table {
	display: table
}

.tr {
	display: table-row
}

.td {
	display: table-cell
}


.tabs {
	&__btn {
		&:hover {
			cursor: pointer;
		}

		&.active {}

	}

	&__content {
		&.active {
			display: block;
		}

		display: none;
	}
}


// select.form-control {
// 	background-image: url(../img/svg/chevron-up.svg);
// 	background-repeat: no-repeat;
// 	background-position: calc(100%  - 20px) 50%; // background-size: rem(18) ;
// 	padding-right: rem(43px);
// 	appearance: none !important;

// 	&:not([size]):not([multiple]) {
// 		height: $input-height;
// 	}

// 	&:focus::-ms-value {

// 	}
// }


input[type='number'] {
	-moz-appearance: textfield;
}

select::-ms-expand {
	display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0;
	/* <-- Apparently some margin are still there even though it's hidden */
}


.invisible {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}



.control-wrap {
	position: relative;
}

.swiper-button-hand {
	width: var(--swiperArrowSize);
	height: var(--swiperArrowSize);
	border-radius: 50%;
	background-color: var(--swiperBgDef);
	border: 2px solid var(--swiperBorderColorDef);
	@include bgs;
	z-index: 300;
	outline: none !important;
	// margin-bottom: 0;
	background-image: none;
	margin: 0;
	@include a-cent(y);
	color: var(--swiperColorDef);
	box-shadow: 0 15px 60px rgba(0, 0, 0, 0.1);
	margin-top: calc(-1 * var(--swiperArrowSize) * 0.4);
	@include mt;

	&:hover {
		background-color: $primary;
		border-color: $primary;
		color: var(--swiperBgDef);
	}

	.icon {
		font-size: rem(12);
	}

	&::after {
		display: none;
	}

	@include media-breakpoint-up(lg) {}


	// --swiperArrowPosition: -15px; 
	&-next {
		right: var(--swiperArrowPosition);
	}

	&-prev {
		left: var(--swiperArrowPosition);
	}
}

.swiper-pagination {
	width: 100%;
	text-align: center;

	&-bullet {
		opacity: 1;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: $secondary;
		outline: none !important;
		@include mt;
		margin-left: rem(8);
		// padding-right: rem(8);
		margin-right: rem(5);

		&-active,
		&:hover {
			background-color: $primary;
		}
	}
}




@include media-breakpoint-up(lg) {
	.wow {
		visibility: hidden;
	}
}


picture {
	display: block;

	// display: flex;
	// width: 100%;
	// height: 100%;
	img {
		@extend .res-i;
	}

	img.object-fit-js {
		height: 100%;
		width: 100%;
		// max-width: 100%;
		display: block;
		object-fit: cover;
	}
}

img.img-bg,
.object-fit-js img {
	object-fit: cover;
	object-position: top;
	font-family: 'object-fit: cover; object-position: top;';
}


a {
	@include mt;
}

img.img-bg,
.picture-bg {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}


.bg-wrap {
	position: relative;
	z-index: 2;
}

// .pagination-wrapper li

.browsehappy {
	position: absolute;
	width: 100%;
	z-index: 1000;
	background: #000;
	min-height: 100px;
	font-size: 20px;
	color: #ffffff;
}

iframe {
	border: none;
}

.pageHead{
	@include media-breakpoint-up(sm) {

		padding-bottom: rem(40);
	}
	padding-bottom: rem(25);
	&__wrap{
		background-color: #e6e6e6;
		@include media-breakpoint-up(sm){

			margin-bottom: rem(55);
		}
		margin-bottom: rem(15);
	}
	h1{
		@extend .h2;
		@extend .mono;

		@include media-breakpoint-up(xl){
			letter-spacing: -0.7px;
		}
	}

	.row{
		align-items: center;
	}

	&__btn{
		@extend .btn;
		// @extend .btn-outline-dark;
		border: #fff;
		border-radius: rem(100);
		color: $white;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 10px 29px;
		background-color: #6fd200;
		font-family: $mono;
		font-weight: 400;
		@include media-breakpoint-up(sm) {
			font-size: 17px;
		}
		font-size: 12px;
		@include media-breakpoint-up(lg) {
			margin-top: 0;
		}
		margin-top: 21px;
		
		&:hover {
			cursor: pointer;
			// @extend .btn-outline-dark;
			@extend .btn-primary;
			color: #fff;
		}
	}
	.white{
		border: 1px solid $black;
		background-color: #fff;
		color: $black;
		&:hover{
			@extend .btn-outline-dark;
		}
	}

	&--01{
		@include media-breakpoint-up(lg) {
			padding-bottom: 40px;
		}
		padding-bottom: 20px;
	}
}

//prev, next frane
.swiper-prev-frame,
.swiper-next-frame{
	outline: none !important;
	box-shadow: 0 0 15px -10px rgba(0,0,0, .4) !important;

	position: absolute;
	z-index: 2;
	top: 50%;
	transform: translateY(-50%);

	width: 22px;
	height: 22px;
	@include media-breakpoint-up(sm){
		width: rem(35px);
		height: rem(35px);
	}
	@include media-breakpoint-up(lg){
		width: rem(51px);
		height: rem(51px);
	}
	border-radius: 50%;


	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $white;

	.icon{
		@include mt();
		font-size: 10px;
		stroke: $secondary;
		color: transparent;
	}

	@include mt();
	border: 1px solid $secondary !important;
	&:hover{
		border: 1px solid $primary !important;
		background-color: $primary;
		.icon{
			stroke: $white;
		}
	}
}
.swiper-prev-frame{
	left: 0;
}
.swiper-next-frame{
	right: 0;
}
//pugin
.swiper-pugin-frame{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	.swiper-pagination-bullet{
		width: 10px;
		height: 10px;
		border-radius: 50%;
		margin: 0 6.5px 13px 6.5px;

		@include mt();
		background-color: $secondary;
		&:hover{
			background-color: rgba($black, .8);
		}

		&-active{
			background-color: $black;
		}

	}

	
}

.btn-outline-dark {
	font-weight: 300;
	&:hover {
		background-color: #6fd200;
		border-color: #6fd200;
	}
}

.btn-success {
	background-color: #6fd200;
	border-color: #6fd200;
}

.simplecheckout-right-column {
	width: 100% !important;
	max-width: none !important;
	@include media-breakpoint-up(lg) {
		max-width: rem(270) !important;
	}
	@include media-breakpoint-down(lg) {
		padding-top: rem(30);
	}
	float: none !important;
	.table-responsive {
		overflow: visible;
	}
	@media only screen and (max-width: 640px) {
		.simplecheckout-cart td.name div.image  {
			display: none;
		}
	}

}

.simplecheckout-left-column {
	float: none !important;
	width: 100% !important;
	max-width: none !important;
	min-width: auto !important;
}

.simplecheckout-step {
	display: flex;
	@include media-breakpoint-down(lg) {
		display: flex;
		flex-direction: column;

	}
	// flex-direction: column-reverse;


	textarea {
		resize: none;
		border-radius: 4px;
		margin-top: 20px !important;
	}

	.name {
		a {
			color: $body-color;
		}
	}

	.image {
		@include media-breakpoint-down(md) {
			max-width: 20%;
		}
		img {
				max-width: 120px;
				@media only screen and (max-width: 640px) {
					max-width: 100%;
					height: auto;
				}
		}
	}

	.form-control {
		border-radius: 4px;
		padding: 10px 5px;
		min-height: auto;
	}

	.quantity {
		@include media-breakpoint-down(md) {
			flex-grow: 1;
			flex-shrink: 0;
			width: 100%;
		}

		// @include media-breakpoint-up(sm) {
		// 	width: rem(100);
		// }
		button {
			border-radius: 50% !important;
			width: 23px;
			height: 23px;
			display: block;
			position: relative;
		}
		.input-group-btn {
			display: flex;
			align-items: center;
		}
		.input-group {
			display: flex;
			// justify-content: center;
			align-items: center;
			flex-wrap: nowrap;
		}
		

		.form-control {
			border: none;
			box-shadow: none;
			text-align: center;
			min-width: auto !important;
			width: 40px !important;
			display: block;
			margin-left: rem(24) !important;
			margin-right: rem(3) !important;
			flex: 0 0 auto;
		}

		.btn-danger {
			margin-left: 3px;
		}
		min-width: auto !important;
	}
}

.row, .container {
	&::before, &::after {
		display: none;
	}
}

.simplecheckout {
	button.button, a.button {
		color: #fff !important;
		&:hover {
			border-color: $body-color !important;
			background-color: #fff !important;
			color: $body-color !important;
		}
	}

	.simplecheckout-button-right {
		float: left;
	}
}

.simplecheckout-cart {
	border: none !important;
	background-color: $gray-200 !important;
	thead {
		display: none;
		th {
			background-color: $gray-200
		}
	}

	
	tbody tr{
		display: flex;
		padding-bottom: rem(15);
		margin-bottom: rem(15);
		flex-direction: column;
		border: none;
		border-bottom: solid 1px rgba($color: #272f39, $alpha: 0.11);

		td {
			display: block;
		}
		// text-align: left !important;
		@include media-breakpoint-down(md) {

			td {
				border: none;
			}

			.name {
				@media only screen and (max-width: 640px) {
					width: 100%;
				}

			}
		}
	}
	th {
		border: none;
	}

	td {
		border: none;
	}

	// tbody tr {
	// }

	th.name, td.total, td.name {
		display: block !important;
		text-align: left !important;
	}

	td.total, td.name {
		border: none;
	}
}

.simplecheckout-cart td.name {
	text-align: left;
}


.checkout-heading {
	font-size: rem(30);
	font-weight: 400;
	border: none;
	background-color: #fff !important;
}

#simplecheckout_cart .form-control {
	background-color: $light;
}

#simplecheckout_cart {
	background-color: $gray-200;
	padding: rem(20);
}

#simplecheckout_shipping .simplecheckout-block-content {//обертка кнопок способа доставки
	justify-content: flex-start !important;
}//обертка кнопок способа доставки

.simplecheckout-cart-total {// обертка кнопки оформить заказ
	background-color: $gray-200;
	text-align: left !important;
	display: flex;
	justify-content: center;
	border: none !important;

	&::after {
		display: none !important;
	}
}// обертка кнопки оформить заказ

.simplecheckout-cart-buttons {//обертка кнопки оформить заказ
	// border: none !important;
}//обертка кнопки оформить заказ

#total_sub_total, #total_total {
	display: flex;
	justify-content: space-between;
	font-weight: 300;

	.simplecheckout-cart-total-remove {
		display: none;
	}

	.simplecheckout-cart-total-value {
		font-weight: 600;
	}
}

.simplecheckout-block-content {//кнопки доставки и селекты
	justify-content: flex-start;

	.form_radio_btn {// кнопка доставки

		&:not(:last-child) {
			margin-right: rem(13);
		}

		label {
			font-weight: 300;
			border-radius: 4px;
			padding: rem(12) rem(22);
		}
		@include mt;
		&:hover {
			opacity: .6;
		}
	}// кнопка доставки

	.select2-container--bootstrap .select2-selection--single {
		height: 48px;
    padding: 13px 24px 13px 12px;
	}

	.select2-container--bootstrap .select2-selection--single .select2-selection__arrow b {
		border: none;
		width: 13px;
		height: 8px;
		background-image: url('../img/cevron-down.svg');
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
	}
}//кнопки доставки 

.checkout-heading {
	.checkout-heading-button {
		a {
			color: #8b8b8b;
			font-size: 15px;
			&:hover {
				color: $primary;
			}
		}
	}
}

.payment_method {display: inline-block;}

.payment_method label{
	margin-bottom: 8px;
	cursor: pointer;
	position: relative;
	display: inline-block;
	padding-left: 0;
	input {
		position: absolute;
		// opacity: 0;
		width: 1px;
		height: 1px;
		margin: -1px;
		border: 0;
		padding: 0;
		clip: rect(0 0 0 0 );
		overflow: hidden;
	}

	.payment_method_span {
		position: relative;
		padding-left: 28px;
		padding-right: 30px;
		&::after {
			content: '';
			width: 19px;
			height: 19px;
			border-radius: 10px;
			background-color: #f4f4f4;
			position: absolute;
			left: 0;
			@include a-cent(y);
		}
	}

	input:checked + .payment_method_span::after {
		background-color: #74dc00;
	}

	input:checked + .payment_method_span::before {
		content: '';
		position: absolute;
		z-index: 2;
		border-radius: 50%;
		width: 5px;
		height: 5px;
		background-color: #000;
		left: 7px;
		@include a-cent(y);
	}
}

.field20MyClass {
	position: relative;
	cursor: pointer;
	input {
		position: absolute;
		// opacity: 0;
		width: 1px;
		height: 1px;
		margin: -1px;
		border: 0;
		padding: 0;
		clip: rect(0 0 0 0 );
		overflow: hidden;
	}

	input + label::before {
		content: '';
		left: 8px;
		@include a-cent(y);
		width: 19px;
		height: 19px;
		border-radius: 2px;
		background-color: #6fd200;
	}

	label {
		padding-left: 30px !important;
	}

	input:checked + label::after {
		content:   url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='8' viewBox='0 0 448 512'%3E%3Cpath fill='%23fff' d='M413.505 91.951L133.49 371.966l-98.995-98.995c-4.686-4.686-12.284-4.686-16.971 0L6.211 284.284c-4.686 4.686-4.686 12.284 0 16.971l118.794 118.794c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-11.314-11.314c-4.686-4.686-12.284-4.686-16.97 0z' class='st0'/%3E%3C/svg%3E");
		position: absolute;
		@include a-cent(y);
		left: 11px;
	}
}

