.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-basket {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-calendar {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-chevron-left {
	font-size:(16/10)*1rem;
	width:(10/16)*1em;
}
.icon-chevron-right {
	font-size:(16/10)*1rem;
	width:(10/16)*1em;
}
.icon-facebook {
	font-size:(13/10)*1rem;
	width:(8/13)*1em;
}
.icon-fb {
	font-size:(13/10)*1rem;
	width:(8/13)*1em;
}
.icon-filter {
	font-size:(14/10)*1rem;
	width:(12/14)*1em;
}
.icon-heart {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-home {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-icons8_viber_2 {
	font-size:(17/10)*1rem;
	width:(15/17)*1em;
}
.icon-instagram {
	font-size:(15/10)*1rem;
	width:(15/15)*1em;
}
.icon-search {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-shopping-bag {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-star {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-subscribe {
	font-size:(15/10)*1rem;
	width:(16/15)*1em;
}
.icon-telegram {
	font-size:(13/10)*1rem;
	width:(14/13)*1em;
}
.icon-user {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-viber {
	font-size:(17/10)*1rem;
	width:(15/17)*1em;
}
.icon-vk {
	font-size:(12/10)*1rem;
	width:(18/12)*1em;
}
.icon-whatsapp {
	font-size:(15/10)*1rem;
	width:(15/15)*1em;
}
.icon-youtube {
	font-size:(13/10)*1rem;
	width:(16/13)*1em;
}
