mixin sDescr()
	// start sDescr
	+b.sDescr#sDescr&attributes(attributes)
		.container
			.row
				.col-lg-3.d-none.d-lg-block
					+e.logo(href="#")
						+pic('logo-descr.png','','lazy','')
				+e.col.col
					+e.title.d-none.d-lg-block Техника Apple и аксессуары
					//- +e.text
					+e.row.row
						.col-md-4
							p Epplstore&nbsp;&mdash; официальный партнер компании Apple в&nbsp;России и&nbsp;Европе, имеющий статус премиум-реселлера Apple Premium Reseller.
							p re:Store&nbsp;&mdash; это не&nbsp;просто магазин, но&nbsp;и&nbsp;центр обслуживания, место, куда вы&nbsp;можете прийти, чтобы посоветоваться, выбрать подходящее устройство, где вас научат пользоваться&nbsp;им, дадут советы по&nbsp;эксплуатации и&nbsp;покажут возможности того, что вы&nbsp;приобрели.
						.col-md-4
							p Мы&nbsp;продаем только официальные версии с&nbsp;легальной русской прошивкой, что избавляет клиентов от&nbsp;множества проблем
							p Наши продавцы&nbsp;&mdash; это специалисты в&nbsp;своей области. А&nbsp;качественная, удобная, простая в&nbsp;использовании техника от&nbsp;Apple доставляет удовольствие своим пользователям и&nbsp;редко требует какой-либо технической поддержки.
						.col-md-4
							p Мы&nbsp;продаем компьютеры, клавиатуры, мышки, мониторы, плееры, телефоны и&nbsp;многое другое. Мы&nbsp;работаем, чтобы вам было удобно. Центры продаж техники Apple расположены по&nbsp;всей России. Вы&nbsp;можете прийти, чтобы лично ознакомиться с&nbsp;тем или иным устройством. У&nbsp;нас предусмотрена и&nbsp;возможность заказа через интернет. Как покупать&nbsp;&mdash; выбор за&nbsp;вами!
					+e.showMore.d-md-none Подробнее

	// end sDescr