// start .sDescr
.sDescr {
	padding-top: calc(var(--sPT) / 1.15);
	padding-bottom: calc(var(--sPB) / 1.6);
	margin-bottom: 2px;
	background-color: $light;
	&__col {
		position: relative;
	}

	&__title {
		z-index: 2;
		padding-left: 0;
		position: absolute;
		top: rem(4);
		right: 103.5%;
		transform: rotate(-90deg);
		transform-origin: top right;
		white-space: nowrap;
		color: $secondary;
	}

	p {
		margin-bottom: 1.2rem;
		color: $secondary;
	}

	&__row {
		@include media-breakpoint-down(md) {
			max-height: 155px;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		&.active {
			max-height: none;
		}
	}
	
	// &__text {
	// 	column-gap: 34px;
	// 	@include media-breakpoint-up(lg) {
	// 		column-count: 3;
	// 	}
	// }
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}

} // end.sDescr