extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Гарантия и возврат'
	title= title
block pagecontent
	+mob-mnu()
	+header() 
		+topLine()
		//- +top-nav()
	+b.pageHead
		+e.wrap
			.container
				+breadcrumb('', title)
		.container
			h1= title 
	+headerBlock()
	+sForm()
	+sContact()
	+footer()


	