extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sStockAndNews/_sStockAndNews.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Акции и Новости'
	title= title
block pagecontent
	+mob-mnu()
	+header() 
		+topLine()
		//- +top-nav()
	+b.pageHead
		+e.wrap
			.container
				+breadcrumb('', title)
		.container
			.row
				.col-lg
					h1= title
				.col-auto
					+e.A.btn.active(href="#") Все
				.col-auto
					+e.A.btn(href="#") Акции
				.col-auto
					+e.A.btn(href="#") Новости

	//- +headerBlock()
	//- +sForm()
	//- +sContact()
	//- +sContent()
	+sStockAndNews()
	+footer()


	