extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sNews/_sNews.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Заголовок новости'
	title= title
block pagecontent
	+mob-mnu()
	+header() 
		+topLine()
		//- +top-nav()
	+b.pageHead
		+e.wrap
			.container
				+breadcrumb('', `Акции и Новости`, title)
		.container
			.row
				.col-lg
					h1= title
					
	+sNews()
	+footer()


	