extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sDescr/_sDescr.pug
include ../blocks/sLK/_sLK.pug

block variables
	- let  mainPage= 'catalogPage'
block title
	- let  title= 'Личный кабинет'
	title= title
block pagecontent
	+mob-mnu()
	+header()
		+topLine()
		//- +top-nav()
	+b.pageHead
		+e.wrap
			.container
				+breadcrumb('', title,'Адрес доставки')

	+sLK-3
	+sDescr()
	+sForm()
	+footer()


	