extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sAboutUs/_sAboutUs.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Про нас'
	title= title
block pagecontent
	+mob-mnu()
	+header()
		+topLine()
		//- +top-nav()
	+b.pageHead(class="pageHead--01")
		+e.wrap
			.container
				+breadcrumb('', title)
		.container
			h1= title 
	//- +headerBlock()
	//- +sForm()
	//- +sContact()
	+sAboutUs()
	+footer()


	