mixin sContent()
	// start sContent
	+b.sContent.section#sContent&attributes(attributes)
		.container
		
			+e.item-title.garant Умови Гарантійного Обслуговування

			h6 1. Гарантійне обслуговування у&nbsp;сервісних центрах
			p Ви&nbsp;можете звертатися за&nbsp;гарантійним обслуговуванням до&nbsp;офіційних сервісних центрів виробника товару та&nbsp;до&nbsp;нас.
			p Для звернення до&nbsp;сервісного центру із&nbsp;собою необхідно взяти:
			
			ul
				li товар з&nbsp;повною комплектацією.
				li оригінальний гарантійний талон.
				li документ що&nbsp;підтверджує оплату.
			
			p Гарантія надається на&nbsp;термін від 3-х місяців до&nbsp;12&nbsp;місяців. Будь ласка, перевіряйте комплектність та&nbsp;відсутність дефектів у&nbsp;товарі під час отримання.
			<br>
			<br>
			h6 2. Відновлення гарантійного талона
			p Якщо ви&nbsp;втратили чи&nbsp;у&nbsp;вас пошкоджено гарантійний талон від виробника, ви&nbsp;можете надіслати запит у&nbsp;довільній формі нам на&nbsp;пошту eppl.storeinfo@gmail.com. Обов&rsquo;язково вкажіть у&nbsp;запиті номер вашого замовлення та&nbsp;прикріпіть фотографію чека та&nbsp;фотографію серійного номера на&nbsp;товарі. Якщо у&nbsp;вас немає документів, що&nbsp;підтверджують купівлю, ви&nbsp;можете зателефонувати до&nbsp;нашого сервісного відділу: (068) 180-90-50.
			p *Оплата дзвінків &minus; згідно з&nbsp;тарифами оператора.
			<br>
			<br>
			h6 3. Де&nbsp;можна обміняти чи&nbsp;повернути товар
			p Обміняти чи&nbsp;повернути товар можна протягом 14&nbsp;днів за&nbsp;допомогою служби доставки або у&nbsp;наших сервісних відділах. #[br] Умови повернення: #[br] Для оформлення повернення візьміть із&nbsp;собою паспорт, чек і&nbsp;товар в&nbsp;упаковці. #[br] Ми&nbsp;повернемо вам кошти у&nbsp;день повернення товару або, у&nbsp;разі відсутності грошей у&nbsp;касі, не&nbsp;пізніше ніж через 7&nbsp;днів..
			p Ми&nbsp;оформляємо повернення, якщо:
			
			ul
				li товар не&nbsp;був у&nbsp;вжитку та&nbsp;не&nbsp;має слідів використання: подряпин, відколів, потертостей, на&nbsp;лічильнику телефону не&nbsp;більше 5&nbsp;хвилин розмов, програмне забезпечення не&nbsp;зазнавало змін;
				li товар повністю укомплектований і&nbsp;не&nbsp;порушена цілісність упаковки;
				li збережено всі ярлики та&nbsp;заводське маркування.
		
			p Якщо товар не&nbsp;працює, обмін чи&nbsp;повернення товару проводиться лише за&nbsp;наявності висновку сервісного центру, авторизованого виробником, про&nbsp;те, що&nbsp;умови експлуатації не&nbsp;були порушені.
			<br>
			<br>
			h6 4. У&nbsp;яких випадках гарантія не&nbsp;надається
			p Сервісний центр може відмовити в&nbsp;гарантійному ремонті, якщо:
			
			ul
				li порушено цілісність гарантійних пломб;
				li є&nbsp;механічні або інші пошкодження, які виникли внаслідок умисних або необережних дій покупця або третіх осіб;
				li порушено правила використання, викладені в&nbsp;експлуатаційних документах;
				li було здійснено несанкціоноване розкриття, ремонт або змінено внутрішні комунікації та&nbsp;компоненти товару, змінено конструкцію або схему товару;
				li неправильно заповнено гарантійний талон;
				li серійний або IMEI номер, що&nbsp;зберігається в&nbsp;пам&rsquo;яті виробу, змінено, стерто або не&nbsp;може бути встановлено.
			
			p Гарантійні зобов&rsquo;язання не&nbsp;поширюються на&nbsp;такі несправності:

			ul
				li природне зношення або вичерпання ресурсу;
				li випадкові пошкодження, завдані клієнтом, або пошкодження, що&nbsp;виникли внаслідок недбалого ставлення або використання (вплив рідини, запиленості, потрапляння всередину корпусу сторонніх предметів тощо);
				li пошкодження в&nbsp;результаті стихійних лих (природних явищ);
				li пошкодження, викликані аварійним підвищенням або пониженням напруги в&nbsp;електромережі або неправильним підключенням до&nbsp;електромережі;
				li пошкодження, викликані дефектами системи, у&nbsp;якій використовувався цей товар, або які виникли в&nbsp;результаті з&rsquo;єднання та&nbsp;підключення товару до&nbsp;інших виробів;
				li пошкодження, викликані використанням товару не&nbsp;за&nbsp;призначенням або з&nbsp;порушенням правил експлуатації;
				li програмне забезпечення, яке не&nbsp;входить до&nbsp;комплекту виробу;
				li збереження інформації на&nbsp;жорсткому диску.

			<br>
			<br>
			h6 5. Як&nbsp;оформити повернення товару
			p Якщо товар продавця Eppl.Store не&nbsp;підійшов, ви&nbsp;можете його повернути, зверніться до&nbsp;нашого call-центру за&nbsp;номером: (068) 180-90-50 (093) 180-90-50.
			p *Сервісний відділ/Продавець не&nbsp;несе відповідальності за&nbsp;можливу втрату/витік персональних даних про споживача, членів його сім&rsquo;ї, третіх осіб, що&nbsp;містяться в&nbsp;товарі (пристрої): на&nbsp;внутрішній пам&rsquo;яті обладнання або на&nbsp;його носіях, що&nbsp;передаються на&nbsp;ремонт/сервісне обслуговування у&nbsp;комплекті з&nbsp;основним товаром, у&nbsp;разі можливого перепрограмування, заміни пам&rsquo;яті пристрою, заміни чи&nbsp;оновлення системного програмного забезпечення.
			<br>
			<br>
			<br>

			+e.item-title.oferta Публічна оферта

			h6 ДОГОВІР ПУБЛІЧНОЇ ОФЕРТИ
			p Наведений нижче текст є&nbsp;договором між інтернет-магазином, сайт якого розміщений в&nbsp;мережі Інтернет за&nbsp;адресою https://eppl.store, що&nbsp;має назву надалі &laquo;Інтернет-магазин&raquo;, і&nbsp;користувачем послуг Інтернет-магазину, що&nbsp;має назву надалі &laquo;Покупець&raquo;, і&nbsp;визначає умови купівлі-продажу товарів Покупцем через сайт інтернет-магазину.
			<br>
			<br>
			h6 1. Загальні положення
			p 1.1. Цей договір є&nbsp;договором публічної оферти (відповідно до&nbsp;ст. Ст.&nbsp;633, 641&nbsp;і гл.&nbsp;63&nbsp;Цивільного кодексу України), його умови однакові для всіх покупців незалежно від статусу (фізична особа, юридична особа, фізична особа&nbsp;&mdash; підприємець).
			p 1.2. У&nbsp;разі прийняття умов цього договору, тобто публічної оферти Інтернет-магазину, користувач стає Покупцем.
			<br>
			<br>
			h6 2. Терміни та&nbsp;визначення]
			p 2.1. Інтернет-магазин&nbsp;&mdash; Eppl Store, заснований відповідно до&nbsp;Законодавства України, розміщеним в&nbsp;мережі Інтернет за&nbsp;адресоюhttps://eppl.store
			p 2.2.Товар&nbsp;&mdash; опублікований на&nbsp;сайті Інтернет-магазину перелік товарів.
			p 2.3. Покупець&nbsp;&mdash; фізична особа, яка досягла вісімнадцятирічного віку, яка отримує інформацію від Інтернет-магазину, яка розміщує замовлення на&nbsp;пошук, комплектацію та&nbsp;резервування Товарів, які представлені на&nbsp;сайті Інтернет-магазину, для цілей не&nbsp;пов&rsquo;язаних із&nbsp;здійсненням підприємницької діяльності, чи&nbsp;юридична особа&nbsp;/ фізична особа- підприємець.
			p 2.4. Замовлення&nbsp;&mdash; оформлена і&nbsp;розміщена заявка Покупця, адресована Інтернет-магазину, на&nbsp;пошук, комплектацію та&nbsp;резервування Товарів, для подальшого їх&nbsp;викупу Покупцем.
			p 2.5. Сайт&nbsp;&mdash; сукупність сторінок, доступ до&nbsp;яких здійснюється за&nbsp;допомогою веб-браузера, і&nbsp;програмних модулів, об&rsquo;єднаних єдиною системою управління, розташованих в&nbsp;мережі Інтернет за&nbsp;адресою https://eppl.store, і&nbsp;містить всі ознаки публічної оферти з&nbsp;пошуку, комплектації і&nbsp;резервування Товарів обраних Покупцем на&nbsp;сайті.
			p 2.8. Особистий кабінет&nbsp;&mdash; простір на&nbsp;Сайті, доступ до&nbsp;якого має Покупець, в&nbsp;якому зображується його персональна інформація та&nbsp;історія розміщених ним Замовлень.
			<br>
			<br>
			h6 3. Предмет договору
			p 3.1. Цей договір визначає порядок взаємодії та&nbsp;умови надання Інтернет-магазином послуг Покупцеві, грунтуючись на&nbsp;його прагненні, бажанні і&nbsp;можливості скористатися послугами пошуку, комплектації і&nbsp;резервування Товарів, а&nbsp;також на&nbsp;прагненні Інтернет-магазину надати Покупцеві потрібну йому інформацію, знайти і&nbsp;укомплектувати Товари згідно Замовлення покупця, і&nbsp;зарезервувати їх&nbsp;для подальшого придбання Покупцем.
			p 3.2. Інтернет-магазин надає Покупцеві наступні послуги:
			p 3.2.1. Пошук, комплектація і&nbsp;резервування Товарів на&nbsp;підставі Замовлення, оформленого Покупцем на&nbsp;Сайті і&nbsp;підтвердженого Інтернет-магазином
			p 3.3. Інтернет-магазин здійснює продаж і&nbsp;доставку Товарів за&nbsp;допомогою кур&rsquo;єрських служб доставки, зазначених на&nbsp;сайті інтернет-магазину на&nbsp;підставі заявок Покупців, залишених на&nbsp;Сайті і&nbsp;підтверджених Інтернет-магазином. Зазначені на&nbsp;Сайті ціни на&nbsp;Товари включають в&nbsp;себе вартість послуг пошуку, комплектації і&nbsp;резервування товарів Покупців, якщо інше не&nbsp;зазначено в&nbsp;підтвердженні Заявки.
			p 3.4. Покупець погоджується з&nbsp;умовами цього договору в&nbsp;момент оформлення Замовлення шляхом натискання на&nbsp;кнопку &laquo;Підтвердити замовлення&raquo;, що&nbsp;виражає підтвердження Покупця про прочитання тексту цього договору і&nbsp;згоду з&nbsp;його умовами. Надалі заперечення від Покупця щодо надання таким чином своєї згоди позбавляє Інтернет-магазин від будь-якого роду відповідальності за&nbsp;невиконання умов цього договору і&nbsp;залишає право Інтернет-магазину скасувати Замовлення в&nbsp;односторонньому порядку.
			<br>
			<br>
			h6 4. Правила роботи з&nbsp;Сайтом
			p 4.1. Покупець може переглядати зміст Сайту, оформляти замовлення, а&nbsp;також користуватися іншими його сервісами.
			p 4.2. Реєстрація потрібна для доступу Покупця до&nbsp;персоналізованої інформації та&nbsp;надання додаткових можливостей роботи з&nbsp;Сайтом.
			p 4.3. При реєстрації Покупець вводить такі дані:

			ul
				li Ім&rsquo;я, прізвище
				li Номер телефону
				li Адреса електронної пошти
				li Пароль

			p 4.4. Покупець зобов&rsquo;язується надати відповідну дійсності, точну і&nbsp;повну інформацію про себе. Інтернет-магазин не&nbsp;несе відповідальності за&nbsp;точність і&nbsp;правильність інформації, залишеної Покупцем при реєстрації та&nbsp;здійсненні Замовлення.
			p 4.5. Після реєстрації на&nbsp;Сайті Покупцеві надається доступ до&nbsp;Особистого кабінету.
			p 4.6. Покупець зобов&rsquo;язується не&nbsp;повідомляти третім особам параметри доступу, зазначені при реєстрації. У&nbsp;разі виникнення у&nbsp;Покупця підозр щодо несанкціонованого використання третіми особами таких параметрів, Покупець зобов&rsquo;язується негайно повідомити про це&nbsp;Інтернет-магазин, надіславши електронний лист на&nbsp;адресу eppl.storeinfo@gmail.com або зв&rsquo;язатися по&nbsp;телефону 068 180-90-50.
			p 4.7. Покупець несе відповідальність за&nbsp;будь-які дії, здійснені на&nbsp;Сайті під його обліковим записом і&nbsp;від його імені.
			p 4.8. Інтернет-магазин має право відмовити Покупцеві в&nbsp;користуванні послугами Інтернет-магазину, якщо у&nbsp;нього будуть підстави вважати, що&nbsp;Покупець вказав недостовірні дані, а&nbsp;так само за&nbsp;умови несумлінної поведінки (наприклад, порушення умов цього договору, або&nbsp;ін.).
			p 4.9. Заборонено використовувати Сайт в&nbsp;протизаконної і&nbsp;забороненої діяльності. Покупці Інтернет-магазину погоджуються дотримуватися законів України і&nbsp;норми поведінки, прийняті в&nbsp;мережі Інтернет, а&nbsp;саме, але не&nbsp;обмежуючись, розміщенням на&nbsp;сайті матеріалів екстремістського, порнографічного чи&nbsp;іншого характеру, що&nbsp;зачіпає і&nbsp;/ або ущемляє честь, гідність і&nbsp;/ або ділову репутацію третіх осіб і&nbsp;порушують загальноприйняті норми моралі, а&nbsp;також розміщувати рекламну інформацію без дозволу Інтернет-магазину.
			<br>
			<br>
			h6 5. Порядок оформлення Замовлення
			p 5.1. Покупець оформляє Замовлення на&nbsp;Сайті самостійно, шляхом додавання обраних Товарів в&nbsp;віртуальну корзину і&nbsp;натискаючи кнопку &laquo;Оформити замовлення&raquo; або натискаючи кнопку &laquo;швидке замовлення&raquo; та&nbsp;вводячи номер телефону та&nbsp;своє ім&rsquo;я.
			<br>
			<br>
			h6 6. Порядок оплати
			p 6.1. Покупець набуває Товари, зазначені в&nbsp;розміщеному на&nbsp;Сайті замовленні, а&nbsp;також оплачує послуги Інтернет-магазину на&nbsp;умовах узгоджених сторонами в&nbsp;підтвердженому Інтернет-магазином замовленні Покупця:
			
			ul
				li На&nbsp;умовах передоплати на&nbsp;рахунок Інтернет-магазину через систему Приват24.
				li В&nbsp;момент отримання Товару у&nbsp;відділенні кур&rsquo;єрської служби.

			p 6.2. Загальна вартість Замовлення, що&nbsp;включає повну вартість Товарів і&nbsp;послуг Інтернет-магазину, дорівнює сумі підлягає оплаті і&nbsp;вказується на&nbsp;Сайті при оформленні і&nbsp;в&nbsp;момент розміщення Замовлення.
			<br>
			<br>
			h6 7. Умови повернення
			p 7.1. Повернення і&nbsp;обмін інших товарів кінцевим споживачам, які не&nbsp;включені до&nbsp;переліку зазначений вище, здійснюється в&nbsp;порядку, передбаченому чинним законодавством України.
			<br>
			<br>
			h6 8. Конфіденційність і&nbsp;захист персональних даних
			p 8.1. При реєстрації на&nbsp;Сайті Покупець залишає персональні та&nbsp;контактні дані, зазначені в&nbsp;п.4.3. цього договору, але не&nbsp;обмежуються ним.
			p 8.2. Надаючи свої персональні дані на&nbsp;Сайті при реєстрації або оформленні Замовлення, Покупець дає свою добровільну згоду на&nbsp;обробку та&nbsp;використання (в&nbsp;тому числі і&nbsp;передачу) своїх персональних даних без обмеження терміну дії такої згоди відповідно до&nbsp;Закону України &laquo;Про захист персональних даних&raquo; від 01.06 .2010&nbsp;р
			p 8.3. Інтернет-магазин використовує отримані персональні дані для надання послуг, визначених цим договором, для просування послуг, що&nbsp;надаються Інтернет-магазином, в&nbsp;тому числі і&nbsp;за&nbsp;допомогою автоматизованої обробки персональних даних.
			p 8.4. Інтернет-магазин зобов&rsquo;язується не&nbsp;розголошувати отриману від Покупця інформацію. Не&nbsp;вважається порушенням надання Інтернет-магазином інформації агентам і&nbsp;третім особам, що&nbsp;діють на&nbsp;підставі договору з&nbsp;Інтернет-магазином, в&nbsp;тому числі і&nbsp;для виконання зобов&rsquo;язань перед Покупцем, а&nbsp;також у&nbsp;випадках, коли розкриття такої інформації встановлено вимогами законодавства.
			p 8.5. Якщо Покупець не&nbsp;бажає, щоб Інтернет-магазин продовжував обробляти персональні дані, то&nbsp;Покупцеві необхідно звернутися із&nbsp;заявою в&nbsp;службу підтримки. В&nbsp;цьому випадку Покупець не&nbsp;зможе продовжувати користуватися послугами Інтернет-магазину.
			p 8.6. Покупець несе відповідальність за&nbsp;підтримання своїх персональних даних в&nbsp;актуальному стані. Інтернет-магазин не&nbsp;несе відповідальності за&nbsp;неякісне виконання покладених на&nbsp;нього зобов&rsquo;язань у&nbsp;зв&rsquo;язку з&nbsp;неактуальністю інформації про Покупця або невідповідністю її&nbsp;дійсності.
			<br>
			<br>
			h6 9. Інформаційні повідомлення
			p 9.1. Реєструючись на&nbsp;Сайті, Покупець дає Інтернет-магазину згоду на&nbsp;отримання інформаційних повідомлень від Інтернет-магазину і&nbsp;його партнерів, що&nbsp;діють на&nbsp;підставі договору з&nbsp;Інтернет-магазином, за&nbsp;допомогою служби коротких повідомлень (SMS) і&nbsp;електронної пошти.
			<br>
			<br>
			h6 10. Правила використання матеріалів, розміщених на&nbsp;Сайті
			p 10.1. Сайт містить матеріали, товарні знаки, фірмові найменування та&nbsp;інші захищені законом матеріали, включаючи, але не&nbsp;обмежуючись, тексти, фотографії, графічні зображення, музичні та&nbsp;звукові твори.
			p 10.2. Весь зміст Сайту охороняється законодавством України.
			p 10.3. Покупець не&nbsp;має права використовувати матеріали, розміщені на&nbsp;Сайті, як&nbsp;то: вносити зміни, публікувати, передавати третім особам, брати участь у&nbsp;продажу або уступці, створювати вторинні документи та&nbsp;ін.
			<br>
			<br>
			h6 11. Інші умови
			p 11.1. Цей договір укладено на&nbsp;території України і&nbsp;підпорядковується матеріальному праву України.
			p 11.2. Недійсність будь-якого пункту або частини цього договору не&nbsp;веде до&nbsp;недійсності договору в&nbsp;цілому.
			p 11.3. Сторони прикладають максимум зусиль для вирішення будь-яких розбіжностей виключно шляхом переговорів.
			p 11.4. Інтернет-магазин має право вносити зміни в&nbsp;текст цього договору на&nbsp;власний розсуд в&nbsp;будь-який момент і&nbsp;без попереднього повідомлення Покупців. Актуальна (діюча) редакція договору завжди доступна на&nbsp;Сайті
					
				
	// end sContent