mixin sAboutUs()
	// start sAboutUs
	+b.sAboutUs.section#sAboutUs&attributes(attributes)
		.container
			+e.item-title.gadgets Найсучасніші гаджети та&nbsp;аксесуари Apple
			p #[strong Eppl.store] &mdash;&nbsp;це&nbsp;ваш надійний постачальник найсучасніших гаджетів провідного бренду Apple. Ми&nbsp;працюємо на&nbsp;українському ринку з&nbsp;2014 року та&nbsp;за&nbsp;цей час завоювали довіру численних клієнтів. В&nbsp;асортименті магазину представлені сучасні моделі смартфонів iPhone, комп&rsquo;ютерів Mac, аксесуарів Apple Watch та&nbsp;Apple AirPods. 
			<br>
			p В&nbsp;нашій онлайн-крамниці ви&nbsp;можете купити техніку Apple за&nbsp;найнижчими цінами та&nbsp;на&nbsp;умовах офіційної гарантії. Ми&nbsp;пропонуємо вам купити оригінальні iPhone, iPad та&nbsp;інші гаджети, що&nbsp;поступають до&nbsp;нашого асортименту прямо з&nbsp;заводу виробника. Всі гаджети представлені в&nbsp;заводському пакуванні з&nbsp;захисними плівками. А&nbsp;завдяки бонусній програмі та&nbsp;знижкам від Eppl.store ви&nbsp;отримаєте бажаний гаджет Apple за&nbsp;найприємнішою вартістю.
			<br>
			p Наш магазин пропонує вигідні умови замовлення: безкоштовну доставку по&nbsp;Львову для всіх клієнтів або відправлення перевізником &laquo;Нова Пошта&raquo; по&nbsp;всій Україні. Для зручності наших покупців кожен гаджет можна замовити як&nbsp;за&nbsp;передоплатою, так і&nbsp;на&nbsp;умовах післяплати.

			+e.item-title.pay-delivery Оплата та&nbsp;доставка

			.row
				.col-xl-6
					p.bold Варіанти оплати
					mixin item-options(i,t,p)
						+e.item-options
							+e.img-wrap
								img.lazy(src="#" data-src=`img/@2x/08-icon-${i}.png`, alt="")
							+e.text-block
								+e.title!= t
								+e.text!= p

					+item-options(1, `Накладеним платижем Нова пошта`, `(Оплата при отриманні у&nbsp;відділенні Нової Пошти, Кур&rsquo;єру Нової Пошти. Комісія&nbsp;+2% від суми замовлення)`)
					+item-options(2, `Банківською картою онлайн`, `(Оплата онлайн банківською картою. Комісія&nbsp;+0,5% від суми замовлення)`)
					+item-options(3, `Готівкою при отриманні`, `(Оплата готівкою при отриманні Кур&rsquo;єру. Безкоштовно)`)

				.col-xl-6
					p.bold Варіанти оплати

					+item-options(4, `Нова Пошта у&nbsp;відділення вашого міста`, `(Відправка службою доставки &laquo;Нова Пошта&raquo; у&nbsp;відділення. Замовлення складені до&nbsp;14:00 відправляємо в&nbsp;день оформлення замовлення. Ви&nbsp;можете дізнатися вартість доставки при оформленні замовлення)`)
					+item-options(5, `Нова пошта кур&rsquo;єрська доставка`, `(Відправка службою доставки &laquo;Нова Пошта&raquo; кур&rsquo;єром за вказаною Вами адресою. Замовлення складені до&nbsp;14:00 відправляємо в&nbsp;день оформлення замовлення. Ви&nbsp;можете дізнатися вартість доставки при оформленні замовлення)`)
					+item-options(6, `Кур&rsquo;єром по&nbsp;місту`, `(Кур&rsquo;єрська доставка по&nbsp;місту, вартість доставки потрібно уточняти у&nbsp;менеджера при оформленні замовлення)`)

			+e.imp
				p.h5 Важливо!
				p При отриманні товару у&nbsp;відділенні пошти або у&nbsp;кур&rsquo;єра, ви&nbsp;оплачуєте товар та&nbsp;підписуєте акт прийому-передачі товару, який свідчить про&nbsp;те, що&nbsp;ви&nbsp;перевірили вміст посилки та&nbsp;претензій у&nbsp;вас немає.



	// end sAboutUs