
	// start .topLine
	.topLine {
		 background-color: $body-color;
		//  padding: rem(23) 0;
		position: relative;
		z-index: 2;
		font-size: $small;
		padding-top: rem(13);
		padding-bottom: rem(13);
		@include media-breakpoint-up(lg){
			padding-top: rem(20);
			padding-bottom: 0;
			
			&::before{
				content: '';
				position: absolute;
			z-index: -1;
			left: 0; 
			width: 100%;
			height: 100%;
			z-index: -1;
			background-color: #242424;
			bottom: 0;
			height: rem(44);
		}
	}
		&__divider{
			margin-top: 15px;
			position: relative;

		}
		 .row{
			 align-items: center;
		 }
		 &__col{
			 ul{
				//  max-width: rem(800);
				max-width: rem(795px);

			 }
		 }
		 ul{
			 display: flex;
			 align-items: center;
			 margin-bottom: 0;
			 justify-content: space-between;
			 list-style: none;
			 @include media-breakpoint-up(xl) {

				 @include roww(rem(36));
				 
				}
				@include roww(rem(30));
			// margin-left: rem(-10px);
			// margin-right: rem(-10px);
			a, .dropdown-toggle{
				color: #ffffff;
				display: inline-block;
				text-align: center;
				padding: rem(11) 0;
				span{

					margin-left: rem(12);
				}
				&:hover{
					color: $primary;
				}
			}
			}

			.icon{
				font-size: rem(20);
			}

			&__logo{

				@include media-breakpoint-up(xl) {
					margin-right: 40px;
				}
			}
	
	//dropdown
	.dropdown {
		@include media-breakpoint-up(sm) {
			position: relative;
		}

		.dropdown-toggle {
			cursor: pointer;
			&::before {
				content: '';
				width: 100%;
				height: 35%;
				top: 100%;
				position: absolute;
			}
		}
		.dropdown-menu {
			display: block;
			min-width: 100vw;
			@include media-breakpoint-up(sm) {
				min-width: 480px;
			}
			z-index: 15;
			position: absolute;
			top: 59px;
			right: 0;
			transform: scale(1,0);
			transform-origin: top center;
			@include mt;

			&--mnu {
				left: 0;
				@include media-breakpoint-up(sm) {
					min-width: 230px;
				}
				top: 101%;
			}
			&--basket {
				top: 71px;
				@include media-breakpoint-up(sm) {
					top: 57px;
				}
				@include media-breakpoint-up(lg) {
					top: 44px;
				}
				min-width: 100vw;
				@include media-breakpoint-up(sm) {
					min-width: 505px;
				}
			}
		}
		&:not(.dropdown--search) {
			&:hover, &:active, &:focus {
				.dropdown-menu {
					transform: scale(1);
				}
			}
		}

		&--search {
			.dropdown-toggle {
				&::before {
					content: none;
				}
			}
			@include media-breakpoint-up(sm) {
				position: static;
			}
			.dropdown-menu {
				top: 70px;
				@include media-breakpoint-up(lg) {
					top: 80px;
				}
				left: 0;
				background-color: #fff;
				@include media-breakpoint-up(sm) {
					min-width: 100vw;
				}
				// transform: none;
				// display: none;
			}
			&:active, &:focus, &:hover {
				.dropdown-menu {
					transform: scale(1);
				}
			}
		}
	}

	&__lk {
		padding: 44px 48px 38px 56px;
		background-color: #fff;
		ul {
			display: block;
			@include media-breakpoint-up(md) {
				column-count: 2;
				column-width: 140px;
				column-gap: 29%;
			}
			margin-bottom: 30px;
			padding-bottom: 12px;
			border-bottom: solid 1px rgba($color: #a1a1a1, $alpha: 0.37);
			li {
				padding-left: 0;
				padding-right: 0;
				a {
					text-align: left;
					display: block;
					padding-top: 0;
					padding-bottom: 15px;
					color: $body-color;
				}
			}
		}
	}

	&__dropMNU {
		background-color: #fff;
		padding: 25px 35px;
		ul {
			display: block;
			border-bottom: solid 1px rgba($color: #a1a1a1, $alpha: 0.37);
			padding-bottom: 10px;
			margin-bottom: 20px;
			li {
				padding-left: 0;
				padding-right: 0;
			}
		}
		a {
			color: $body-color !important;
			&:hover {
				color: $primary !important;
			}
		}
	}

	&__singleLink {
		display: block !important;
		width: 100%;
	}

	&__exit {
		border: none;
		background-color: transparent;
		text-decoration: underline;
		text-align: right;
		display: block;
		margin-left: auto;
		color: $secondary;
		padding-right: 0;
		@include mt;
		&:hover {
			opacity: .5;
		}
	}

	&__btn {
		@extend .btn;
		@extend .btn-outline-dark;
		margin-bottom: 15px;
		min-width: 100px;
		color: $body-color !important;
		&:hover {
			color: #fff !important;
		}
		&:not(:last-child) {
			margin-right: 10px;
		}
	}

	&__hints {
		text-align: left;
	}

	.form-wrap {
		form {
			display: flex;
			align-items: center;
		}

		&__input-wrap {
			flex-grow: 1;
		}

		&__input {
			border: none;
			outline: none;
			box-shadow: none;
		}

		&__btn {
			border: none;
			background-color: transparent;
		}
	}

	&__basket {
		background-color: #fff;
		table {
			td {
				padding-top: 22px;
				padding-bottom: 22px;
				@include media-breakpoint-up(md) {
					padding-top: 26px;
					padding-bottom: 28px;
				}
				&:nth-child(1) {
					padding-left: 21px;
					@include media-breakpoint-up(md) {
						padding-left: 29px;
					}
					padding-right: 19px;
					width: 24%;
				}
				&:nth-child(3) {
					width: 25%;
					@include media-breakpoint-up(md) {
						width: 20%;
					}
				}
				&:nth-child(2) {
					padding-right: 10px;
					@include media-breakpoint-up(md) {
						padding-right: 27px;
					}
				}
				&:last-child {
					padding-right: 22px;
					@include media-breakpoint-up(md) {
						padding-right: 38px;
					}
				}
			}

			tr {
				&:not(:last-child) {
					border-bottom: solid 1px $gray-200;
				}
			}
		}
	}

	&__btnCancel {
		border: none;
		background-color: transparent;
	}

	&__basketBTN {
		@extend .btn;
		background-color: #6fd200;
		border: solid 1px #6fd200;
		color: #fff;
		padding-left: 10px;
		padding-right: 10px;
		min-width: 123px;
		@include media-breakpoint-up(md) {
			min-width: 177px;
		}
		@include media-breakpoint-down(md) {
			font-size: 13px;
		}
		&:hover {
			border-color: $body-color;
			color: $body-color !important;
			background-color: #fff;
		}
	}

	&__imgWrap {
		display: block !important;
		text-align: center;
	}

	&__price {
		font-weight: 600;
		font-size: $small;
		@include media-breakpoint-up(md) {
			font-size: 16px;
		}
	}

	&__name {
		font-weight: 300;
		overflow: hidden;
		// text-overflow: ellipsis;
		max-height: 61px;
		@include media-breakpoint-down(md) {
			font-size: 13px;
		}
	}

	&__basketFoot {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: $light;
		padding: 20px;
		@include media-breakpoint-up(md) {
			padding: 24px 31px;
		}
	}

	&__totalPrice {
		font-weight: 600;
		@include media-breakpoint-up(md) {
			font-size: 18px;
		}
		font-size: $small;
		span {
			font-weight: 300;
			@include media-breakpoint-up(md) {
				font-size: $em-base;
				margin-right: 27px;
			}
			margin-right: 12px;
			font-size: 13px;
		}
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {
		.row{
			@include roww(20px)
		}
	}
	@include media-breakpoint-down(xs) {

	} 

} // end.topLine

.basket-block{
	&__btn{
		color: #ffffff;
		position: relative;
		cursor: pointer;
		@include mt;
		&:hover{
			color: $primary;
		}
	}
	&__count{
		color: #3d424a;
		position: absolute;
		background-color: $primary;
		width: rem(13px);
		height: rem(13px);
		border-radius: 50%;
		font-weight: 900;
		font-size: rem(9);
		text-align: center;
		right: rem(-6);
		top: rem(-6);
	}
}