mixin topLine()
	// start topLine
	+b.topLine&attributes(attributes)
		.container
			.row
				.col-lg-auto.col 
					+e.logo(href="/")
						img(src="img/@2x/logo-top.png" alt="")
				.col.d-none.d-lg-block
					ul
						li: a(href="#") Каталог
						li: a(href="#") Про нас
						li: a(href="#") Контакти
						li: a(href="#") Гарантія на повернення
						li: a(href="#") Оплата та доставка
						li.dropdown(tabindex="0")
							a.link-modal.d-none(href="#modal-entrance")
								+icon('user')
									span.d-none.d-xl-inline Особистий кабінет
							.dropdown-toggle
								+icon('user')
								span.d-none.d-xl-inline Особистий кабінет
							.dropdown-menu
								+e.lk
									ul
										li: a(href="#") Профиль
										li: a(href="#") Адреса доставки
										li: a(href="#") Любимый магазин
										li: a(href="#") Бонусная программа
										li: a(href="#") Мои заказы
										li: a(href="#") Избранное
										li: a(href="#") Мои обращения
										li: a(href="#") Мои коммуникации
									+e.exit(type='submit') Выйти
				+e.divider.w-100.d-none.d-lg-block
				.col-auto
					ul
						li.dropdown.dropdown--search(tabindex="0")
							.dropdown-toggle
								+icon('search')
							.dropdown-menu
								.container
									+form-wrap
										+e.btn(type='submit')
											+icon('search')
										+input('Что вы ищите','search')
									+e.hints
										+e.btn(href="#") iphone X
										+e.btn(href="#") наушники
										+e.btn(href="#") iphone 7
										+e.btn(href="#") airpods
										+e.btn(href="#") iphone 8
										+e.btn(href="#") кабель
										+e.btn.d-none.d-sm-inline-block(href="#") iphone XS
									+b.popularProd.d-none.d-lg-block
										.row
											+e.col.col
												+popularCategoryItem('1','Наушники AirPods (2019) в зарядном футляре')
											+e.col.col
												+popularCategoryItem('2','Наушники AirPods (2019) в зарядном футляре')
											+e.col.col
												+popularCategoryItem('3','Наушники AirPods (2019) в зарядном футляре')
											+e.col.col
												+popularCategoryItem('4','Наушники AirPods (2019) в зарядном футляре')
											+e.col.col
												+popularCategoryItem('5','Наушники AirPods (2019) в зарядном футляре')

				+e.col.col.d-none.d-lg-block
					ul 
						li: a(href="#") Mac
						li: a(href="#") iPad
						li.dropdown(tabindex="0")
							a.dropdown-toggle(href="#") iPhone
							.dropdown-menu.dropdown-menu--mnu
								+e.dropMNU
									ul
										li: a(href="#") iPhone 11 Pro
										li: a(href="#") iPhone 11
										li: a(href="#") iPhone SE
										li: a(href="#") iPhone XR
										li: a(href="#") AirPods
										li: a(href="#") Аксессуары
										li: a(href="#") Программы и сервисы
									+e.singleLink(href="#") Какой iPhone выбрать?
						li: a(href="#") Watch
						li: a(href="#") Аксесуари
						li: a(href="#") Гаджети
				.col-auto
					ul
						li.d-none.d-sm-block: a(href="#")
							+icon('heart')
						li.dropdown(tabindex="0")
							+b.basket-block.dropdown-toggle(href="#")
								+e.btn
									+icon('basket')
									+e.count 2
							.dropdown-menu.dropdown-menu--basket
								+e.basket
									table
										tr
											td
												+e.imgWrap(href="#")
													+pic('headerCategory-11pro.png','','lazy','')
											td 
												+e.name Apple iPhone 11, 64 ГБ, черный
											td 
												+e.price 27 990 грн
											td
												+e.btnCancel(type="submit")
													+icon('cancel')
										tr
											td
												+e.imgWrap(href="#")
													+pic('popularCategory-3.png','','lazy','')
											td
												+e.name Apple MacBook Pro 16" 8 Core i9 2,4 ГГц, 64 ГБ, 8 ТБ SSD Lorem ipsum dolor sit amet consectetur adipisicing elit. At totam, reprehenderit quis voluptatibus dolore quisquam facilis numquam odio fugit explicabo eligendi asperiores quaerat quae? Molestiae quidem rem id provident facere.
											td 
												+e.price 69 990 грн
											td
												+e.btnCancel(type="submit")
													+icon('cancel')
									.topLine__basketFoot.pb-0.flex-column.free_shippingCart
										.d-flex.justify-content-between.w-100.sum_free_shippingText
											span До безкоштовної доставки залишилося
											span.sum_free_shipping 1 500 грн
										.w-100
											.progress
												.progress-bar(role='progressbar' style='width: 24%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')

									+e.basketFoot
										+e.basketBTN(href="#") Оформить заказ
										+e.totalPrice 
											span итого:
											|97 980 грн
				.col-auto.d-lg-none
					+b.toggle-menu-mobile--js
						span
	// end topLine