
	// start .topLine
	.topLine {
		 background-color: $body-color;
		//  padding: rem(23) 0;
		position: relative;
		z-index: 2;
		font-size: $small;
		padding-top: rem(13);
		padding-bottom: rem(13);
		@include media-breakpoint-up(lg){
			padding-top: rem(20);
			padding-bottom: 0;
			
			&::before{
				content: '';
				position: absolute;
			z-index: -1;
			left: 0; 
			width: 100%;
			height: 100%;
			z-index: -1;
			background-color: #242424;
			bottom: 0;
			height: rem(44);
		}
	}
		&__divider{
			margin-top: 15px;
			position: relative;

		}
		 .row{
			 align-items: center;
		 }
		 &__col{
			 ul{
				//  max-width: rem(800);
				max-width: rem(795px);

			 }
		 }
		 ul{
			 display: flex;
			 align-items: center;
			 margin-bottom: 0;
			 justify-content: space-between;
			 list-style: none;
			 @include media-breakpoint-up(xl) {

				 @include roww(rem(36));
				 
				}
				@include roww(rem(30));
			// margin-left: rem(-10px);
			// margin-right: rem(-10px);
			a, u{
				color: #ffffff;
				display: inline-block;
				text-align: center;
				padding: rem(11) 0;
				span{

					margin-left: rem(12);
				}
				&:hover{
					color: $primary;
				}
			}
			u {
				text-decoration: none !important;
			}
			}

			.icon{
				font-size: rem(20);
			}

			&__logo{

				@include media-breakpoint-up(xl) {
					margin-right: 40px;
				}
			}
	
	//dropdown
	.dropdown {
		position: relative;
		cursor: pointer;
		.dropdown-menu {
			z-index: 10;
			position: absolute;
			top: 73%;
			right: 0;
			transform: scale(1,0);
			transform-origin: top center;
			@include mt;
		}
		&:hover, &:focus {
			.dropdown-menu {
				transform: scale(1);
			}
		}
	}

	&__lk {
		background-color: #fff;
		ul {
			display: block;
			column-count: 2;
		}
		a {
			color: $body-color !important;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {
		.row{
			@include roww(20px)
		}
	}
	@include media-breakpoint-down(xs) {

	} 

} // end.topLine

.basket-block{
	&__btn{
		color: #ffffff;
		position: relative;
		cursor: pointer;
		@include mt;
		&:hover{
			color: $primary;
		}
	}
	&__count{
		color: #3d424a;
		position: absolute;
		background-color: $primary;
		width: rem(13px);
		height: rem(13px);
		border-radius: 50%;
		font-weight: 900;
		font-size: rem(9);
		text-align: center;
		right: rem(-6);
		top: rem(-6);
	}
}