// start .sFilter
.sFilter {
	
	&__filterMob {
		font-size: 12px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 9px 18px 9px 22px;
		border: 1px solid $body-color;
		border-radius: 18px;
		color: $body-color;
		margin-bottom: 38px;

		.icon {
			font-size: rem(14);
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}

} // end.sFilter

.filter {
	padding-bottom: rem(50);

	&__title {
		font-weight: 600;
		margin-bottom: rem(13);
	}

	&__item {
		padding-bottom: rem(27);
	}

	.irs--round .irs-bar {
		background: #6fd200;
	}
	.irs--round .irs-handle {
		width: $small;
		height: $small;
		border: none;
		background: #6fd200;
		top: 31px;
		box-shadow: none;
	}
	.form-control {
		background-color: $light;
		text-align: center;
		border: none;
	}
}

.custom-input {
	display: block;

	&__lab {
		background-color: $light;
	}
}
.custom-input__input:checked + .custom-input__lab {
	background-color: #6fd200;
	&::after {
		content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='9' viewBox='0 0 448 512'%3E%3Cpath fill='#f4f4f4' d='M413.505 91.951L133.49 371.966l-98.995-98.995c-4.686-4.686-12.284-4.686-16.971 0L6.211 284.284c-4.686 4.686-4.686 12.284 0 16.971l118.794 118.794c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-11.314-11.314c-4.686-4.686-12.284-4.686-16.97 0z' class='st0'/%3E%3C/svg%3E");
	}
}