mixin sFilter()
	// start sFilter
	+b.sFilter#sFilter&attributes(attributes)
		+e.filterMob.link-modal.d-lg-none(href="#filter") Добавить фильтр
			+icon('filter')
		+filter()(class="d-none d-lg-block")
	// end sFilter



