 
	  
.soc{
	margin: 0 rem(-5) rem(50);
	display: flex;
	&__item{
		width: 48px;
		height: 48px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #c7c6c6;
		text-decoration: none !important;
		margin: 0 rem(5);
		@include mt;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			opacity: .6 ;
		}
		
	}
	.icon{
		font-size: rem(14);
	}
	 

}
 

.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.messengers {
	display: flex;
	align-items: center;
	margin-bottom: rem(26);
	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		border: 1px solid #c7c6c6;
		&:not(:last-child) {
			margin-right: rem(9);
		}

		&:hover {
			background-color: #6fd200;
			border-color: #c7c6c6;
		}
	}
	.icon {
		font-size: rem(15);
		color: #000;
	}
}

